#battleStatistics {
    width: 100%;
    max-width: 1920px;
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
    margin: 0px auto 0px auto;
}

#battleStatistics > thead > tr > td:first-child {
    width: 220px;
    text-align: left;
    padding-left: 6px;
    background-color: rgba(82, 82, 82, 1);
    height: 35px;
    border: 1px solid black;
}

#battleStatistics > thead > tr > td {
    overflow: hidden;
    white-space: nowrap;
    font-family: "Trebuchet MS";
    font-size: 9px;
}

.battleHeadingButtons {
    background-color: rgba(82, 82, 82, 1);
    height: 35px;
    color: white;
    text-align: center;
    table-layout: fixed;
    border: 1px solid black;
    font-family: "Trebuchet MS";
}

#battleStatistics > tbody {
    border: 1px solid black;
    color: white;
    font-family: "Trebuchet MS";
    font-size: 12px;
    box-sizing: border-box;
    line-height: 24px;
}

#battleStatistics > tbody > tr > td:nth-child(1) {
    text-align: left;
    padding-left: 6px;
}

#battleStatistics > tbody > tr > td:not(first-child) {
    text-align: right;
    padding-right: 6px;
}

#battleStatistics > tbody > tr:nth-child(odd) {
    background-color: rgba(100, 100, 100, 1);
}

#battleStatistics > tbody > tr:nth-child(even) {
    background-color: rgba(120, 120, 120, 1);
}

#battleStatistics > tbody > tr:hover {
    background-color: rgba(2, 80, 196, 0.7);
}

#battleStatistics > tbody > tr > td {
    display: table-cell;
}

@media only screen and (max-width: 1300px) {
    #battleStatistics > thead > tr > td {
        font-size: 9px;
        word-wrap: normal;
    }
}

@media only screen and (max-width: 1400px) {
    #battleStatistics {
        margin: 0 auto;
    }

    #battleStatistics > thead > tr > td:not(:first-child) {
        width: 90px;
    }
}

@media only screen and (max-width: 1050px) {
    #battleStatistics > thead > tr > td {
        font-size: 9px;
    }
}