#mainDataTable {
    width: 360px;
    margin: 16px;
    border: none;
    border-collapse: collapse;
    user-select: none;
    font-family: Verdana;
    font-size: 13px;
    border-radius: 12px;
    display: none;
    float: left;
}

#mainTitle button {
    width: 100%;
    height: 38px;
    background: rgb(80, 80, 80);
    cursor: pointer;
    color: rgb(230, 230, 230);
    border: none;
    font-size: 18px;
    font-family: Verdana;
}

#mainTitle button:hover {
    /* background: rgb(60, 60, 60); */
    background-color: rgb(2, 80, 196);
}

/* #mainContent {
    width: 100%;
    display: table;
} */

#mainContent > td > table {
    width: 100%;
    background-color: rgb(44, 44, 44);
    color: rgb(230, 230, 230);
    border: none;
    border-collapse: collapse;
}

#mainContent tr:nth-child(even) {
    background-color: rgb(55, 55, 55);
}

/* 
#mainContent td {
    box-sizing: border-box;
    padding: 0px 8px 0px 8px;
} */


#mainContent > td > table > thead > tr > td {
    box-sizing: border-box;
    padding: 0px 0px 0px 8px;
}

#mainContent tr, #mainSectionRight tr, #mainSectionRight p {
    height: 44px;
}

/* #mainSectionRight {
    width: 60%;
}

#mainSectionRight table {
    width: 100%;
    background-color: rgb(96, 96, 96);
    color: rgb(230, 230, 230);
    border: none;
    border-collapse: collapse;
}

#mainSectionRight tr:nth-child(even) {
    background-color: rgb(109, 109, 109);
}

#mainSectionRight > table > thead > tr > td {
    box-sizing: border-box;
    padding: 0px 8px 0px 8px;
    align-items: center;
    justify-content: middle;
    line-height: 1.45;
} */

#mainContent tr > td:nth-child(2) {
    background-color: rgb(96, 96, 96);
}

#mainContent tr:nth-child(even) > td:nth-child(even) {
    background-color: rgb(109, 109, 109);
}

#mainContent tr:hover, #mainContent tr > td:nth-child(2):hover {
    background-color: rgb(2, 80, 196);
}

@media only screen and (max-width: 392px) {
    #mainDataTable {
        width: 100%;
        margin: 0 auto;
        border-radius: 0px;
    }

    #nicknameInput, #realmSelect, #searchSubmit, #mainTitle button, #mainSectionLeft, #mainSectionRight {
        font-size: 3.5vw;
    }
}