#randomDataTable {
    width: 400px;
    margin: 16px;
    border: none;
    border-collapse: collapse;
    user-select: none;
    font-family: Helvetica;
    font-size: 13px;
    border-radius: 12px;
    display: none;
    float: left;
}

#randomDataTableTitle button {
    width: 100%;
    height: 38px;
    background-color: rgb(66, 66, 66);
    cursor: pointer;
    color: rgb(230, 230, 230);
    border: none;
    font-size: 18px;
    font-family: Helvetica;
}

#randomDataTableTitle button:hover {
    background-color: rgba(0, 61, 153, 0.8);
}

#damagedealings td,
#damagereceivings td,
#spottingandassistance td,
#baseactivities td,
#misc td {
    color: black;
    font-weight: bold;
    box-sizing: border-box;
    padding: 4px 8px 4px 8px;
    align-items: center;
    justify-content: middle;
    line-height: 1.45;
}

#randomDataTable > tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

#damagedealings button,
#damagereceivings button,
#spottingandassistance button,
#baseactivities button,
#misc button {
    width: 100%;
    height: 28px;
    cursor: pointer;
    color: rgb(230, 230, 230);
    border: none;
    font-size: 14px;
    font-family: Verdana;
}

#damagedealings button {
    background-color: rgba(50, 0, 0, 0.8);
}

#damagedealings > tr {
    background-color: rgba(148, 0, 0, 0.5);
}

#damagedealings tr:nth-child(even) {
    background-color: rgba(148, 0, 0, 0.4);
}

#damagereceivings button {
    background-color: rgba(51, 34, 0, 0.8);
}

#damagereceivings > tr {
    background-color: rgba(148, 99, 0, 0.5);
}

#damagereceivings tr:nth-child(even) {
    background-color: rgba(148, 99, 0, 0.4);
}

#spottingandassistance button {
    background-color: rgba(2, 50, 0, 0.8);
}

#spottingandassistance > tr {
    background-color: rgba(7, 148, 0, 0.5);
}

#spottingandassistance tr:nth-child(even) {
    background-color: rgba(7, 148, 0, 0.4);
}

#baseactivities button {
    background-color: rgba(0, 21, 50, 0.8);
}

#baseactivities > tr {
    background-color: rgba(0, 62, 148, 0.5);
}

#baseactivities tr:nth-child(even) {
    background-color: rgba(0, 62, 148, 0.4);
}

#misc button {
    background-color: rgba(68, 0, 100, 0.8);
}

#misc > tr {
    background-color: rgba(34, 0, 50, 0.5);
}

#misc tr:nth-child(even) {
    background-color: rgba(101, 0, 148, 0.4);
}

@media only screen and (max-width: 450px) {
    #randomDataTable {
        width: 100%;
        margin: 0 auto;
        border-radius: 0px;
    }

    #randomDataTableTitle button {
        font-size: 3.5vw;
    }
}