/*
    Loading.io
*/

.lds-roller {
    outline: 0px solid red;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    /* display: inline-block;
    vertical-align: middle;
    line-height: normal; */
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1):after,
.lds-roller div:nth-child(2):after,
.lds-roller div:nth-child(3):after,
.lds-roller div:nth-child(4):after,
.lds-roller div:nth-child(5):after,
.lds-roller div:nth-child(6):after,
.lds-roller div:nth-child(7):after,
.lds-roller div:nth-child(8):after {
    background: rgba(2, 80, 196, 1);
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
    }

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*
    CUSTOM
*/

#loadingTankTiles {
    display: inline-block;
    width: 100%;
    height: 280px;
    /* height: 100px; */
    line-height: 280px;
    text-align: center;
    /* outline: 1px solid purple; */
    /* padding: 16px 0px 16px 0px; */
    background-color: rgba(44, 44, 44, 0.1);

    /* Vertically Alignment */
    display: flex;
    align-items: center;
    justify-content: center;
}

#loadingTankTiles > span {
    font-family: "Trebuchet MS";
    display: none;
    /* vertical-align: middle; */
    line-height: normal;
    padding-bottom: 16px;
}

#allCharts {
    text-align: center;
}

#barChart {
    /* display: none; */
    outline: 0px solid magenta;
    width: 700px;
    height: 300px;
    padding: 36px 0px 36px 0px;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
}

#radarChart {
    /* display: none; */
    outline: 0px solid magenta;
    width: 400px;
    height: 300px;
    padding: 36px 0px 36px 0px;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
}

/* #radarChart .recharts-default-legend {
    display: none;
} */

#radarChart > h3 {
    display: block;
    /* padding: 0px 0px 24px 0px; */
    font-family: "Trebuchet MS";
    /* height: 35px; */
}

.recharts-responsive-container {
    width: fit-content;
    height: fit-content;
}

.recharts-layer {
    font-family: "Arial";
    font-size: small;
}

.recharts-polar-radius-axis {
    display: none;
}

.custom-tooltip {
    background-color: rgba(62, 62, 62, 0.5);
    padding: 8px 16px 8px 16px;
    font-family: "Arial";
    font-size: small;
    line-height: 20px;
    border-radius: 16px;
    color: rgba(255, 255, 255, 1);
}

#tankListTiles {
    width: 100%;
    /* height: 280px; */
    text-align: center;
    margin: auto;
    display: inline-block;
    background-color: rgba(82, 82, 82, 0.2);

    /* HORIZON SCROLLING */
    /* overflow-x: scroll;
    white-space: nowrap; */
}

#viewingOptions {
    display: none;
    text-align: center;
    margin: auto;
    background-color: rgba(82, 82, 82, 0.4);
    margin-bottom: 12px;
}

#viewingOptions > tr,
#viewingOptions > tr > td {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: auto;
}

#viewingOptions > tr > td > button:first-child,
#viewingOptions > tr > td > button:last-child {
    margin: 24px;
    border-radius: 16px;
    border: 0px;
}

#viewingOptions > tr > td > button:hover {
    cursor: pointer;
    background-color: rgba(0, 61, 153, 1);
}

#horizontalView, #verticalView, #switchView, #filterTanks {
    padding: 6px;
    width: 120px;
    color: white;
    font-family: "Trebuchet MS";
    background-color: rgb(2, 80, 196);
}

.tankTileFull {
    text-align: center;
    display: inline-block;
}

/* .tankTileFull:hover {
    transform: scale(1.02, 1.02);
    transition: 0.1s ease-in-out;
} */

.tankTile {
    width: 160px;
    display: inline-block;
    margin: 12px;
    border-radius: 16px;
}

.tankTile:hover {
    transform: scale(1.02, 1.02);
    transition: 0.1s ease-in-out;
}

.tankTile, .tankTile td {
    outline: 0px solid orange;
    background-color: rgba(82, 82, 82, 0.5);
}

.is_premium_false > tr:hover {
    box-shadow: 0px 0px 10px rgba(30, 30, 30, 1);
    animation: shake 0s;
    animation-iteration-count: infinite;
}

.is_premium_true > tr {
    background-color: rgba(255, 215, 0, 1);
}

.is_premium_true > tr:hover {
    box-shadow: 0px 0px 10px rgba(145, 123, 0, 1);
    animation: shake 2s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(0.1px, 0.1px) rotate(0.0deg); }
    10% { transform: translate(-0.1px, -0.2px) rotate(-0.3deg); }
    20% { transform: translate(-0.3px, 0.0px) rotate(0.3deg); }
    30% { transform: translate(0.3px, 0.2px) rotate(0.0deg); }
    40% { transform: translate(0.1px, -0.1px) rotate(0.3deg); }
    50% { transform: translate(-0.1px, 0.2px) rotate(-0.3deg); }
    60% { transform: translate(-0.3px, 0.1px) rotate(0.0deg); }
    70% { transform: translate(0.3px, 0.1px) rotate(-0.3deg); }
    80% { transform: translate(-0.1px, -0.1px) rotate(0.3deg); }
    90% { transform: translate(0.1px, 0.2px) rotate(0.0deg); }
    100% { transform: translate(0.1px, -0.2px) rotate(-0.3deg); }
}

.tankTile > td {
    color: white;
    font-family: "Trebuchet MS";
    display: block;
    text-align: center;
}

.tankTile td:nth-child(1) {
    height: 24px;
    border-radius: 16px 16px 0px 0px;
    font-size: 0.75rem;
    line-height: 2;
    overflow: auto;
}

.tankTile td:nth-child(2) {
    width: 100%;
    height: 100px;
    margin: 0px auto 0px auto;
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-color: rgba(102, 102, 102, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.tankTile td:nth-child(2) > img {
    transform: scale(0.9, 0.9);
    font-size: 0.75rem;
}

.tankTile td:nth-child(2) img:hover {
    transition: 0.1s ease-in-out;
    transform: scale(0.8, 0.8);
    cursor: pointer;
}

.tankTile td:nth-child(3) {
    display: none;
    height: 24px;
    font-size: 0.75rem;
    line-height: 2;
}

.tankTile td:nth-child(4) {
    font-size: 0.75rem;
    line-height: 2;
}

.tankTile td:nth-child(5) {
    width: 80px;
    height: 80px;
    display: inline-table;
    float: left;
    border-radius: 0px 0px 0px 16px;
    border-collapse: collapse;
}

.tankTile td:nth-child(5) > p {
    width: 80px;
    height: 80px;
    transform: scale(0.9, 0.9);
    text-align: center;
}

.tankTile td:nth-child(6) {
    width: 80px;
    height: 80px;
    display: inline-table;
    float: left;
    border-radius: 0px 0px 16px 0px;
    border-collapse: collapse;
    background-color: rgba(112, 112, 112, 0.5);
}

.tankTile td:nth-child(6) > p {
    width: 80px;
    height: 80px;
    transform: scale(0.9, 0.9);
    text-align: center;
}

.china > td:nth-child(2),
.czech > td:nth-child(2),
.france > td:nth-child(2),
.germany > td:nth-child(2),
.italy > td:nth-child(2),
.japan > td:nth-child(2),
.poland > td:nth-child(2),
.sweden > td:nth-child(2),
.uk > td:nth-child(2),
.usa > td:nth-child(2),
.ussr > td:nth-child(2) {
    /* background-image: url("https://wiki.wargaming.net/skins/globalwiki/images/ug/flags.png"); */
    background-image: url("../assets/flags.png");
}

.china > td:nth-child(2) {
    background-position: 0px -200px;
}

.czech > td:nth-child(2) {
    background-position: 0px -700px;
}

.france > td:nth-child(2) {
    background-position: 0px -300px;
}

.germany > td:nth-child(2) {
    background-position: 0px -600px;
}

.italy > td:nth-child(2) {
    background-position: 0px -900px;
}

.japan > td:nth-child(2) {
    background-position: 0px -400px;
}

.poland > td:nth-child(2) {
    background-position: 0px -1000px;
}

.sweden > td:nth-child(2) {
    background-position: 0px -800px;
}

.uk > td:nth-child(2) {
    background-position: 0px -500px;
}

.usa > td:nth-child(2) {
    background-position: 0px 0px;
}

.ussr > td:nth-child(2) {
    background-position: 0px -100px;
}

.mark_of_mastery_1, .mark_of_mastery_2, .mark_of_mastery_3, .mark_of_mastery_4 {
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
}

.mark_of_mastery_1 {
    /* background-image: url("https://eu-wotp.wgcdn.co/dcont/fb/image/mastery_badge_class_iii_MaWSZi8.png"); */
    background-image: url("../assets/mom/mastery_badge_class_i.png");
}

.mark_of_mastery_2 {
    /* background-image: url("https://wiki.wgcdn.co/images/1/1f/Class_icons_2.png"); */
    /* background-image: url("https://eu-wotp.wgcdn.co/dcont/fb/image/mastery_badge_class_ii_6EzPFo3.png"); */
    background-image: url("../assets/mom/mastery_badge_class_ii.png");
}

.mark_of_mastery_3 {
    /* background-image: url("https://wiki.wgcdn.co/images/a/a3/Class_icons_3.png"); */
    /* background-image: url("https://eu-wotp.wgcdn.co/dcont/fb/image/mastery_badge_class_i_KecWa6Q.png"); */
    background-image: url("../assets/mom/mastery_badge_class_iii.png");
}

.mark_of_mastery_4 {
    /* background-image: url("https://eu-wotp.wgcdn.co/dcont/fb/image/ace_tanker_3EJeyiE.png"); */
    /* background-image: url("https://eu-wotp.wgcdn.co/dcont/fb/image/ace_tanker_3EJeyiE.png"); */
    background-image: url("../assets/mom/ace_tanker.png");
}

.china_mark_of_excellence_1, .china_mark_of_excellence_2, .china_mark_of_excellence_3,
.czech_mark_of_excellence_1, .czech_mark_of_excellence_2, .czech_mark_of_excellence_3,
.france_mark_of_excellence_1, .france_mark_of_excellence_2, .france_mark_of_excellence_3,
.germany_mark_of_excellence_1, .germany_mark_of_excellence_2, .germany_mark_of_excellence_3,
.italy_mark_of_excellence_1, .italy_mark_of_excellence_2, .italy_mark_of_excellence_3,
.japan_mark_of_excellence_1, .japan_mark_of_excellence_2, .japan_mark_of_excellence_3,
.poland_mark_of_excellence_1, .poland_mark_of_excellence_2, .poland_mark_of_excellence_3,
.sweden_mark_of_excellence_1, .sweden_mark_of_excellence_2, .sweden_mark_of_excellence_3,
.uk_mark_of_excellence_1, .uk_mark_of_excellence_2, .uk_mark_of_excellence_3,
.usa_mark_of_excellence_1, .usa_mark_of_excellence_2, .usa_mark_of_excellence_3,
.ussr_mark_of_excellence_1, .ussr_mark_of_excellence_2, .ussr_mark_of_excellence_3 {
    background-repeat: no-repeat;
    background-size: 85%;
    background-position: center;
}

.china_mark_of_excellence_1 {
    /* background-image: url("https://dav-static.worldoftanks.com//ptlwotus/wot/current/marksOnGun/67x71/china_1_mark.png"); */
    background-image: url("../assets/moe/china_1_mark.png");
}

.china_mark_of_excellence_2 {
    /* background-image: url("https://dav-static.worldoftanks.com//ptlwotus/wot/current/marksOnGun/67x71/china_2_marks.png"); */
    background-image: url("../assets/moe/china_2_marks.png");
}

.china_mark_of_excellence_3 {
    /* background-image: url("https://dav-static.worldoftanks.com//ptlwotus/wot/current/marksOnGun/67x71/china_3_marks.png"); */
    background-image: url("../assets/moe/china_3_marks.png");
}

.czech_mark_of_excellence_1 {
    /* background-image: url("https://dav-static.worldoftanks.com//ptlwotus/wot/current/marksOnGun/67x71/czech_1_mark.png"); */
    background-image: url("../assets/moe/czech_1_mark.png");
}

.czech_mark_of_excellence_2 {
    /* background-image: url("https://dav-static.worldoftanks.com//ptlwotus/wot/current/marksOnGun/67x71/czech_2_marks.png"); */
    background-image: url("../assets/moe/czech_2_marks.png");
}

.czech_mark_of_excellence_3 {
    /* background-image: url("https://dav-static.worldoftanks.com//ptlwotus/wot/current/marksOnGun/67x71/czech_3_marks.png"); */
    background-image: url("../assets/moe/czech_3_marks.png");
}

.france_mark_of_excellence_1 {
    /* background-image: url("https://dav-static.worldoftanks.com//ptlwotus/wot/current/marksOnGun/67x71/france_1_mark.png"); */
    background-image: url("../assets/moe/france_1_mark.png");

}

.france_mark_of_excellence_2 {
    /* background-image: url("https://dav-static.worldoftanks.com//ptlwotus/wot/current/marksOnGun/67x71/france_2_marks.png"); */
    background-image: url("../assets/moe/france_2_marks.png");

}

.france_mark_of_excellence_3 {
    /* background-image: url("https://dav-static.worldoftanks.com//ptlwotus/wot/current/marksOnGun/67x71/france_3_marks.png"); */
    background-image: url("../assets/moe/france_3_marks.png");
}

.germany_mark_of_excellence_1 {
    /* background-image: url("https://dav-static.worldoftanks.com//ptlwotus/wot/current/marksOnGun/67x71/germany_1_mark.png"); */
    background-image: url("../assets/moe/germany_1_mark.png");
}

.germany_mark_of_excellence_2 {
    /* background-image: url("https://dav-static.worldoftanks.com//ptlwotus/wot/current/marksOnGun/67x71/germany_2_marks.png"); */
    background-image: url("../assets/moe/germany_2_marks.png");
}

.germany_mark_of_excellence_3 {
    /* background-image: url("https://dav-static.worldoftanks.com//ptlwotus/wot/current/marksOnGun/67x71/germany_3_marks.png"); */
    background-image: url("../assets/moe/germany_3_marks.png");
}

.italy_mark_of_excellence_1 {
    /* background-image: url("https://dav-static.worldoftanks.com//ptlwotus/wot/current/marksOnGun/67x71/italy_1_mark.png"); */
    background-image: url("../assets/moe/italy_1_mark.png");
}

.italy_mark_of_excellence_2 {
    /* background-image: url("https://dav-static.worldoftanks.com//ptlwotus/wot/current/marksOnGun/67x71/italy_2_marks.png"); */
    background-image: url("../assets/moe/italy_2_marks.png");
}

.italy_mark_of_excellence_3 {
    /* background-image: url("https://dav-static.worldoftanks.com//ptlwotus/wot/current/marksOnGun/67x71/italy_3_marks.png"); */
    background-image: url("../assets/moe/italy_3_marks.png");
}

.japan_mark_of_excellence_1 {
    /* background-image: url("https://dav-static.worldoftanks.com//ptlwotus/wot/current/marksOnGun/67x71/japan_1_mark.png"); */
    background-image: url("../assets/moe/japan_1_mark.png");
}

.japan_mark_of_excellence_2 {
    /* background-image: url("https://dav-static.worldoftanks.com//ptlwotus/wot/current/marksOnGun/67x71/japan_2_marks.png"); */
    background-image: url("../assets/moe/japan_2_marks.png");
}

.japan_mark_of_excellence_3 {
    /* background-image: url("https://dav-static.worldoftanks.com//ptlwotus/wot/current/marksOnGun/67x71/japan_3_marks.png"); */
    background-image: url("../assets/moe/japan_3_marks.png");
}

.poland_mark_of_excellence_1 {
    /* background-image: url("https://dav-static.worldoftanks.com//ptlwotus/wot/current/marksOnGun/67x71/poland_1_mark.png"); */
    background-image: url("../assets/moe/poland_1_mark.png");
}

.poland_mark_of_excellence_2 {
    /* background-image: url("https://dav-static.worldoftanks.com//ptlwotus/wot/current/marksOnGun/67x71/poland_2_marks.png"); */
    background-image: url("../assets/moe/poland_2_marks.png");
}

.poland_mark_of_excellence_3 {
    /* background-image: url("https://dav-static.worldoftanks.com//ptlwotus/wot/current/marksOnGun/67x71/poland_3_marks.png"); */
    background-image: url("../assets/moe/poland_3_marks.png");
}

.sweden_mark_of_excellence_1 {
    /* background-image: url("https://dav-static.worldoftanks.com//ptlwotus/wot/current/marksOnGun/67x71/sweden_1_mark.png"); */
    background-image: url("../assets/moe/sweden_1_mark.png");
}

.sweden_mark_of_excellence_2 {
    /* background-image: url("https://dav-static.worldoftanks.com//ptlwotus/wot/current/marksOnGun/67x71/sweden_2_marks.png"); */
    background-image: url("../assets/moe/sweden_2_marks.png");
}

.sweden_mark_of_excellence_3 {
    /* background-image: url("https://dav-static.worldoftanks.com//ptlwotus/wot/current/marksOnGun/67x71/sweden_3_marks.png"); */
    background-image: url("../assets/moe/sweden_3_marks.png");
}

.uk_mark_of_excellence_1 {
    /* background-image: url("https://dav-static.worldoftanks.com//ptlwotus/wot/current/marksOnGun/67x71/uk_1_mark.png"); */
    background-image: url("../assets/moe/uk_1_mark.png");
}

.uk_mark_of_excellence_2 {
    /* background-image: url("https://dav-static.worldoftanks.com//ptlwotus/wot/current/marksOnGun/67x71/uk_2_marks.png"); */
    background-image: url("../assets/moe/uk_2_marks.png");
}

.uk_mark_of_excellence_3 {
    /* background-image: url("https://dav-static.worldoftanks.com//ptlwotus/wot/current/marksOnGun/67x71/uk_3_marks.png"); */
    background-image: url("../assets/moe/uk_3_marks.png");
}

.usa_mark_of_excellence_1 {
    /* background-image: url("https://dav-static.worldoftanks.com//ptlwotus/wot/current/marksOnGun/67x71/usa_1_mark.png"); */
    background-image: url("../assets/moe/usa_1_mark.png");
}

.usa_mark_of_excellence_2 {
    /* background-image: url("https://dav-static.worldoftanks.com//ptlwotus/wot/current/marksOnGun/67x71/usa_2_marks.png"); */
    background-image: url("../assets/moe/usa_2_marks.png");
}

.usa_mark_of_excellence_3 {
    /* background-image: url("https://dav-static.worldoftanks.com//ptlwotus/wot/current/marksOnGun/67x71/usa_3_marks.png"); */
    background-image: url("../assets/moe/usa_3_marks.png");
}

.ussr_mark_of_excellence_1 {
    /* background-image: url("https://dav-static.worldoftanks.com//ptlwotus/wot/current/marksOnGun/67x71/ussr_1_mark.png"); */
    background-image: url("../assets/moe/ussr_1_mark.png");
}

.ussr_mark_of_excellence_2 {
    /* background-image: url("https://dav-static.worldoftanks.com//ptlwotus/wot/current/marksOnGun/67x71/ussr_2_marks.png"); */
    background-image: url("../assets/moe/ussr_2_marks.png");
}

.ussr_mark_of_excellence_3 {
    /* background-image: url("https://dav-static.worldoftanks.com//ptlwotus/wot/current/marksOnGun/67x71/ussr_3_marks.png"); */
    background-image: url("../assets/moe/ussr_3_marks.png");
}

#individualTankInfoContainer {
    display: none;
    width: 100%;
    height: 100%;
    z-index: 97;
    position: fixed;
    top: 0;
    left: 0;
    overflow: visible;
}

#individualTankInfoBlur {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(6px);
    z-index: 98;
    position: fixed;
}

#individualTankInfoActual {
    width: 750px;
    height: 500px;
    z-index: 99;
    background-color: rgba(62, 62, 62, 0.95);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
}

#closeTankInfoActual {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 22px;
    color: white;
    background-color: darkred;
    border: 0px;
    cursor: pointer;
}

#tankInfo_history {
    /* display: inline-block; */
    width: 300px;
    height: 100%;
    box-sizing: border-box;
    padding: 16px 24px 16px 24px;
    outline: 0px solid orange;
    vertical-align: top;
    float: left;
}

#tankInfo_title {
    color: white;
    text-align: center;
    padding: 6px 0px 6px 0px;
    background-color: rgba(88, 88, 88, 1);
    border-radius: 12px;
}

#tankInfo_subTitle {
    color: white;
    text-align: center;
    padding: 6px 0px 6px 0px;
    background-color: rgba(88, 88, 88, 1);
    border-radius: 12px;
    margin: 0px 0px 12px 0px;
}

#tankInfo_image {
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    /* height: 60px; */
}

#tankInfo_description {
    width: 100%;
    height: 220px;
    color: white;
    text-align: justify;
    overflow-y: scroll;
    line-height: 20px;
    box-sizing: border-box;
    padding: 12px 12px 12px 12px;
    font-size: 14px;
    background-color: rgba(88, 88, 88, 1);
    border-radius: 12px 0px 0px 12px;
}

#tankInfo_description::-webkit-scrollbar {
	height: 12.5px;
    width: 6px;
	background-color:#292929;
}

#tankInfo_crew {
    /* display: inline-block; */
    width: calc(100% - 342px);
    /* height: 100%; */
    box-sizing: border-box;
    padding: 16px 12px 0px 12px;
    outline: 0px solid orange;
    vertical-align: top;
    float: left;
}

#tankInfo_title2 {
    width: 100%;
    color: white;
    text-align: center;
    padding: 6px 0px 6px 0px;
    background-color: rgba(88, 88, 88, 1);
    border-radius: 12px;
}

#tankInfo_crewLayout {
    margin: 6px 0px 0px 0px;
}

#tankInfo_profile {
    /* display: inline-block; */
    width: calc(100% - 342px);
    /* height: 100%; */
    box-sizing: border-box;
    padding: 16px 12px 16px 12px;
    outline: 0px solid orange;
    vertical-align: top;
    float: left;
}

#tankInfo_title3 {
    width: 100%;
    color: white;
    text-align: center;
    padding: 6px 0px 6px 0px;
    background-color: rgba(88, 88, 88, 1);
    border-radius: 12px;
}

@media only screen and (max-width: 1100px) {
    #barChart {
        width: 100%;
    }
}

@media only screen and (max-width: 770px) {
    #individualTankInfoActual {
        width: 100%;
        border-radius: 0px;
    }
}

@media only screen and (max-width: 560px) {

    #individualTankInfoActual {
        max-width: 375px;
        text-align: center;
        border-radius: 12px;
        overflow-y: scroll;
        margin: auto;
    }

    #tankInfo_history {
        display: block;
        float: none;
        margin: auto;
        height: auto;
    }

    #tankInfo_crew, #tankInfo_profile {
        width: 100%;
    }
}

@media only screen and (max-width: 400px) {
    #tankInfo_history {
        width: auto;
        height: auto;
    }
    
    #radarChart {
        width: 100%;
        height: auto;
    }
}